/******************************************
    Version: 1.0
/****************************************** */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 768px) and (max-width: 991px) {
    #mainNav {
        background-color: #333333;
    }

    .navbar-dark .navbar-brand {
        width: 55%;
    }

    .navbar-dark .navbar-nav .nav-link::after {
        display: none;
    }

    .navbar-dark .navbar-toggler {
        color: rgba(255, 255, 255);
        border-color: rgba(255, 255, 255);
    }

    .heading h1 {
        font-size: 28px;
    }

    .heading p {
        font-size: 14px;
    }

    .cd-headline.clip span {
        font-size: 20px;
    }

    .section-title h3 {
        font-size: 28px;
    }

    .section-title p {
        font-size: 14px;
    }

    #clouds {
        margin-top: -35%;
    }

    .message-box {
        margin-bottom: 30px;
    }

    .filter-button-group button {
        padding: 12px 27px;
    }

    .filter-button-group {
        text-align: center !important;
    }

    .post-box {
        margin-bottom: 30px;
    }

    .footer-distributed .footer-left {
        text-align: center;
    }

    .sim-btn {
        width: 80%;
    }
}

@media (max-width: 767px) {
    #mainNav {
        background-color: #333333;
    }

    .navbar-dark .navbar-brand {
        width: 55%;
    }

    .navbar-dark .navbar-nav .nav-link::after {
        display: none;
    }

    .navbar-dark .navbar-toggler {
        color: rgba(255, 255, 255);
        border-color: rgba(255, 255, 255);
    }

    .heading h1 {
        font-size: 28px;
    }

    .heading p {
        font-size: 14px;
    }

    .cd-headline.clip span {
        font-size: 20px;
    }

    .section-title h3 {
        font-size: 28px;
    }

    .section-title p {
        font-size: 14px;
    }

    #clouds {
        margin-top: -35%;
    }

    .message-box {
        margin-bottom: 30px;
    }

    .filter-button-group button {
        padding: 12px 27px;
    }

    .filter-button-group {
        text-align: center !important;
    }

    .post-box {
        margin-bottom: 30px;
    }

    .footer-distributed .footer-left {
        text-align: center;
    }

    .sim-btn {
        width: 80%;
    }
}

@media only screen and (min-width: 280px) and (max-width: 599px) {
    #mainNav {
        background-color: #f2f3f5;
        background-color: rgba(255, 255, 255, 0);
    }

    #mainNav.body_dark {
        background-color: #333333;
        background-color: rgba(0, 0, 0, 0);
    }

    .navbar-dark .navbar-brand {
        width: 120px;
    }

    .navbar-dark .navbar-nav .nav-link::after {
        display: none;
    }

    .navbar-dark .navbar-toggler {
        color: #222;
        border-color: #222;
        -webkit-transition: all .5s;
        transition: all .5s;
    }

    .navbar-dark.body_dark .navbar-toggler {
        color: rgba(255, 255, 255);
        border-color: rgba(255, 255, 255);
        -webkit-transition: all .5s;
        transition: all .5s;
    }

    .heading h1 {
        font-size: 28px;
    }

    .heading p {
        font-size: 14px;
    }

    .cd-headline.clip span {
        font-size: 20px;
    }

    .section-title h3 {
        font-size: 28px;
    }

    .section-title p {
        font-size: 14px;
    }

    #clouds {
        margin-top: -35%;
    }

    .message-box {
        margin-bottom: 30px;
    }

    .filter-button-group button {
        padding: 12px 27px;
    }

    .filter-button-group {
        text-align: center !important;
    }

    .post-box {
        margin-bottom: 30px;
    }

    .footer-distributed .footer-left {
        text-align: center;
    }

    .sim-btn {
        width: 80%;
    }

    .contact_form h1 {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    #show {
        top: 85px;
    }

    #down {
        top: 150px;
    }
}