.btn-hover-new{
	color: #333333;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
	border: 1px solid #333333;
	overflow: hidden;
	padding: 0px 18px;
	display: inline-block;
}

.sim-btn{
	line-height: 55px;
    height: 55px;
    width: 70%;
    /* border-radius: 10px; */
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	cursor: pointer;
}

.btn-hover-new::after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transform: translate(-30%, 0);
    transform: translate(-30%, 0);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-hover-new span {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-hover-new:hover{
	color: #ffffff;
	background-color: #333333;
}
.btn-hover-new:hover > span {
    opacity: 0;
    -webkit-transform: translate(0px,40px);
    transform: translate(0px,40px);
}
.btn-hover-new:hover::after {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

/*------------------------------------------------------------------
    CONTACT
-------------------------------------------------------------------*/


.contact_form {
    padding: 40px 30px 10px 30px;
}

.contact_form .form-control {
    background-color: #333333;
    margin-bottom: 30px;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    color: #bcbcbc;
    font-size: 16px;
    outline: 0 none;
    padding: 10px 25px;
    height: 55px;
    resize: none;
    box-shadow: none !important;
    width: 100%;
	border-radius: 0px;
}

.contact_form textarea {
    color: #bcbcbc;
    padding: 20px 25px !important;
    height: 110px !important;
}

.contact_form .form-control::-webkit-input-placeholder {
    color: #bcbcbc;
}

.contact_form .form-control::-moz-placeholder {
    opacity: 1;
    color: #bcbcbc;
}

.contact_form .form-control::-ms-input-placeholder {
    color: #bcbcbc;
}

#contact {
    background-color: #333333;
}


#contact .section-title p{
	color: #ffffff;
}

.contact_form textarea.form-control{
	min-height: 110px;
}

.form-group{
	position: relative;
}

.help-block{
	position: absolute;
	top: 100%;
	left: 0px;
}

/*
按钮
*/
.row {
    position: relative;
}
#show {
    position: absolute;
    top: 80px;
    width: 100%;
}
#down {
    position: absolute;
    top: 140px;
    width: 100%;
}